.col-12.order-sm-5
  .row.fotito
    .col-12.col-sm-6.col-md-3.secf
      .row
        .col-12
          %img.foto(src="http://www.bestfon.info/images/joomgallery/originals/comida_9/comida_46_20120413_1185044355.jpg" alt="")/
        .col-12
          .titufoticos
            Recipes from a Sunday Supper
        .col-12.desfoticos
          Sign up for our newsletter to resive a handcked slection of the best stories, recipes, and news, delivered weekly yo you inbox.
        .col-12
          .row
            .col-6.fecha
              May 15,2012/
            .col-2.read
              Read>>
 
    .col-12.col-sm-6.col-md-3.secf
      .row
        .col-12
          %img.foto(src="http://www.bestfon.info/images/joomgallery/originals/comida_9/comida_46_20120413_1185044355.jpg" alt="")/
        .col-12
          .titufoticos
            Recipes from a Sunday Supper
        .col-12.desfoticos
          Sign up for our newsletter to resive a handcked slection of the best stories, recipes, and news, delivered weekly yo you inbox.
        .col-12
          .row
            .col-6.fecha
              May 15,2012/
            .col-2.read
              Read>>
          
    .col-12.col-sm-6.col-md-3.secf
      .row
        .col-12
          %img.foto(src="http://www.bestfon.info/images/joomgallery/originals/comida_9/comida_46_20120413_1185044355.jpg" alt="")/
        .col-12
          .titufoticos
            Recipes from a Sunday Supper
        .col-12.desfoticos
          Sign up for our newsletter to resive a handcked slection of the best stories, recipes, and news, delivered weekly yo you inbox.
        .col-12
          .row
            .col-6.fecha
              May 15,2012/
            .col-2.read
              Read>>
            
    .col-12.col-sm-6.col-md-3.secf
      .row
        .col-12
          %img.foto(src="http://www.bestfon.info/images/joomgallery/originals/comida_9/comida_46_20120413_1185044355.jpg" alt="")/
        .col-12
          .titufoticos
            Recipes from a Sunday Supper
        .col-12.desfoticos
          Sign up for our newsletter to resive a handcked slection of the best stories, recipes, and news, delivered weekly yo you inbox.
        .col-12
          .row
            .col-6.fecha
              May 15,2012/
            .col-2.read
              Read>>
            




