@media screen and (max-width: 992px) and (min-width: 768px) {
  container{
    width: 500px;
  }
  .sidebar{
    margin: 10px;
    padding: 0px;
    // margin-bottom: 20px;
    padding-top: 50px;
    // padding-bottom: 20px
  }
  .iconoheader{
    text-align: center;
  }
  .texto{
    text-align: center;
    color: #279898;
    font-size: 18px;
    font-family: 'Bree Serif', serif;
  }
  .backpiecar{
    text-align: center;
    color: #279898;
    font-size: 16px;
    padding-top: 4px;
    font-family: 'Bree Serif', serif;
    background-color: #e6f0ef8f;
    height: 37px;
    border-right: 1px solid #dbe6de;
    border-left: 1px solid #dbe6de;
  }
  .logo{
    margin-bottom: 20px;
    background-color: black;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-top: 27px;
  }
  img{
    
    padding: 4px;
    margin: -4px;
    height: 350px;
    width: 100%;
    margin-left: 3px;
  
  }
  .pie2{
    font-family: 'Bree Serif', serif;
    font-style: italic;
    font-size: 16px;
    position: absolute;
    width: 443px;
    background-color: black;
    color:white;
    padding: 13px;
    height: 50px;
    margin-left: 8px;
    margin-top: -133px;
  }
  .borde{
    border: 1px;
    border-style: dashed;

  }
  .piecar2{
    padding: 0;
  }
  .piecar{
    margin-top: 0px;
    margin-left: 10px;
    padding: 0px;
  }
  .pie1{
    font-family: 'Bree Serif', serif;
    font-size: 18px;
    font-style: italic;
    position: absolute;
    display: inline-block;
    bottom: 46%;
    padding: 18px;
    height: 50px;
    margin-left: 8px;
    margin: 0px;
    background-color: #ffffff;
  }
  .pie3{
    position: absolute;
    text-align: right;
    bottom: 60px;
    right: 30px;
    padding: 4px;
    padding-bottom: 20px;
    height: 20px;
    margin-left: 8px;
    margin: 0px;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 10%;
    font-size: 8px;

  }
  .bord{
    margin-bottom: 3px;
  }
  .email{
    margin: 10px;
    border-top: 1px dashed #dbe6de;
    border-bottom: 1px dashed #dbe6de;
    padding-bottom: 15px;
  }
  .texemail{
    font-family: 'Bree Serif', serif;
    font-style: italic;
    font-size: 14px;
    color: #5b5555;
  }
  .carta{
  text-align: center;
  }
  .email2{
    margin-top: 15px;
    margin-left: 5px;
  }
  .fotito{
    margin-bottom: 15px;
  }
  .foto{
    border: 1px solid #dbe6de;
    margin: 5px;
    padding: 10px;
    height: 150px;
    width: 150px;
  }
.titufoticos{
    color: #279898;
    font-size: 17px;
    margin-bottom: 10px;
    font-family: 'Bree Serif', serif;
    margin-left: 5px;
  }
  .desfoticos{
    margin-bottom: 10px;
    font-family: 'Bree Serif', serif;
    font-size: 17px;
    color: rgb(82, 78, 78);
    margin-left: 5px;
  }
  .fecha{
    margin-left: 22px;
    color: #bbc5be;
    font-size: 10px;
    padding: 0px;
    margin-top: 3px;
  }
  .read{
    margin-top: 4px;
    color: #279898;
    border-bottom: 1px dashed #dbe6de;
    padding: 0px;
    margin-left: -27px;
    font-size: 10px;
  }
  .footer{
    padding-top: 15px;
    margin: 10px;
    border-top: 1px solid #dbe6de;
  }
  .footer1{
    padding: 0;
    text-align: center;
    color: #279898;
    font-size: 10px;
  }
  .bordef{
    border-right: 1px solid #dbe6de;
    border-left: 1px solid #dbe6de;
  }
  .iconfooter{
    color: rgb(167, 160, 160);
    align-content: right;
  }
  }